body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    margin: 0 auto;
    margin-top: 16px;
    box-sizing: border-box;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.btn {
    box-sizing: border-box;
    height: 64px;
    flex: 1 1 64px;
    font-size: 24px;
}

#display {
    box-sizing: border-box;
    width: 300px;
    height: 28px;
    margin-bottom: 0;
    font-size: 24px;
    text-align: end;
    border: 1px solid black;
    border-bottom: none;
    padding: 5px 5px 24px 5px;
}

.temp-result {
    box-sizing: border-box;
    width: 300px;
    margin: 0;
    text-align: end;
    border: 1px solid black;
    border-top: none;
    margin-bottom: 5px;
    height: 24px;
    padding: 5px;
}